body {font-family: Helvetica,Arial,sans-serif;}
.logo {float:left; font-size: 24px; color: #999;}
.logo a {color: inherit; text-decoration: inherit;}
ul.nav_menu {list-style: none; font-size: 12px; list-style-position: inside; margin:0; padding: 0; overflow-x: hidden;}
ul.nav_menu li {border-bottom: 1px solid #ccc;}
ul.nav_menu li ul {list-style: none; list-style-position: inside; padding: 0 0 5px 20px;}
ul.nav_menu li ul li {border: none;}
ul.nav_menu a {padding: 6px 0 6px 10px; color: black; text-decoration: none; display: block; width: 100%;}
ul.nav_menu li.active a.current {font-weight: bold; text-decoration: none;}
ul.nav_menu a:hover {color: white; font-weight: bold; text-decoration: none; display: block; width: 100%; background: #6CAEF5}

/* Font awsome */
.fa {padding: 1px;}
.l-btn-plain .fa {padding: 2px;}
.menu-icon.fa {font-size: 12px; padding: 2px;}
.pagination .fa {font-size: 16px; padding: 0;}
.dialog-button .fa, .dialog-button .l-button-plain.fa {font-size: 12px; padding: 2px;}
.panel-tool-a.fa {font-size: 14px; padding: 1px 0 1px 3px; text-decoration: none; color: black;}
.panel-icon.fa {padding: 0;}

/* Context bar */
.toolbar-element {height: 30px; display:inline-block; line-height: 30px; vertical-align: top; }
.toolbar-element.user-info {padding: 0 10px; border-right: 1px solid #c3d9e0; border-left: 1px solid #c3d9e0;}
.toolbar-element.user-info .user-display {vertical-align: top; display: inline-block; padding: 1px 0 0 0}
.toolbar-element.user-info .user-image {padding-right: 7px;}
.toolbar-element .panel-loading {height: 10px}
.toolbar-element .fa {font-size: 14px; padding: 0; color: #999}

/* Toolbars for widgets */
.exf-toolbar {padding: 5px 2px; min-height: 26px;}
.exf-btn-group {display: inline-block}
.exf-data-toolbar, .panel-footer.datatable-toolbar {border-width: 0;}
.exf-data-header {padding: 0; border-width: 0}
.exf-data-header .tabs-container, .exf-data-header .panel-body {background: #f5f5f5}
.exf-data-header .tabs-panels .panel-body {padding-right: 5px;}
.exf-data-header .tabs-header-right .tabs {border: 0}
.dialog-button .exf-toolbar {padding: 0;}

/* Inputs */
.exf-labeled-item {display: inline-block; height: 100%; vertical-align: middle;}
.exf-input, .exf-display {box-sizing: border-box; padding:4px; text-align:right;}
.exf-input label {margin: 0 3px; display: inline-block; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
.exf-input textarea {vertical-align:middle;border: 1px solid #c3d9e0; tab-size: 4}
.exf-display .exf-labeled-item {text-align: left; font-weight: bold; padding-left: 3px;}
.exf-display * {text-align: initial;}
.numberbox input {text-align: right;}
fieldset.exface_inputgroup {border-color: #95B8E7; border-width: 1px 0 0 0; padding: 10px 0; margin: 15px 0 0 0;}
fieldset.exface_inputgroup legend {color: #404040; font-weight: bold; padding: 0 6px; margin: 0 10px;}
.exf-inputPassword>div {padding: 0 0 4px 0}

/* Widget groups */
.exf-widget-group > .panel > .panel-body {height: auto !important}
.exf-panel-flat > .panel > .panel-header {background-color: transparent; padding-top: 6px; margin-bottom: 4px;}

/* Inline groups */
.exf-inline-group .exf-control {padding-left: 0px !important; display: inline-block !important;}
.exf-inline-group .exf-control:last-of-type {padding-right: 0px !important;}
.exf-inline-group {padding-top: 0px !important; padding-bottom: 0px !important; padding-right: 2px !important;}
.exf-inline-group p {display: inline-block !important; padding: 0; margin: 0;}

/* Carousel */
.exf-widget-carousel ul.tabs {width: 100%; text-align: center}
.exf-widget-carousel ul.tabs li {float: none;}

/* Wizard */
.exf-wizard > .tabs-header > .tabs-wrap > ul.tabs > li:after {content: "›"; padding: 0 0 0 4px; font-weight: bold; font-size: 120%;}
.exf-wizard > .tabs-header > .tabs-wrap > ul.tabs > li:last-of-type:after {content: "";}

/* Text & headings */
.panel-body h1, .panel-body h2, .panel-body h3, .panel-body h4, .panel-body h5, .panel-body p, .panel-body pre {padding: 0 10px;}
.panel-body h1 {margin: 10px 0 5px 0}
.exf-text {display: block; width: 100%}

/* Context menus */
.easyui-menu .menu-item {float: none !important;}

/* jEasyUI customizing */
div.panel-body{background-color:#fff;}
div.messager-body{overflow-y: auto;}
.window .window-header .panel-with-icon {padding-left: 21px !important;}
.dialog-button {min-height: 26px; text-align: left !important}

/* Dialog */
.exf-dialog-header {background-color: #daeef5 !important;}
.exf-dialog-header .easyui-panel {background-color: transparent !important;}

/* TextDiff widget */
.difftext-container {border: 1px solid #c3d9e0;}
.difftext-diff del {text-decoration: line-through; color: white; background-color: red;}
.difftext-diff ins {text-decoration: none; color: white; background-color: green;}

/* Messages */
.exf-message-list {margin: 4px 4px 2px 4px;}
.exf-message-list:empty {display: none;}
.exf-message {padding: 5px; color: white; margin: 2px 0; min-height: 38px; background-color: lightgray;}
.exf-message a {color: white;}
.exf-message-icon {float: left; width: 50px; text-align: center; height: 2em; line-height: 2em;}
.exf-message-icon > i {font-size: 2em; color: white;}
.exf-message-title {font-weight: bold; margin-left: 50px;}
.exf-message-text {margin-left: 50px;}
.exf-message.error {background-color: #dd4b39 !important}
.exf-message.warning {background-color: #f39c12 !important}
.exf-message.info {background-color: #00c0ef !important}
.exf-message.success {background-color: #00a65a !important}
.exf-message.hint {background-color: transparent; font-style: italic; color: inherit;}
.exf-message.hint .exf-message-icon > i {color: black}

/* InputJson widget */
.jsoneditor {text-align: left;}
.exf-control .jsoneditor div.outer {margin: 0;}

/* Markdown */
.markdown-body {font-size: 14px !important;}
.easyui-dialog > .markdown-body {padding: 20px 10px 10px 10px}

/* jQuery FileUpload */
.fileupload-files{margin-top: 10px;}
.fileupload-inner{line-height: 110px; vertical-align: middle;}
.fileupload-inner > * {line-height: normal; display: inline-block; padding: 5px; }
.fileupload-preview {vertical-align: top; width: 110px;}
.fileupload-desc {font-weight: bold}
.fileupload-filename {color: grey}

/* flot charts */
.tooltip-inner { max-width: 200px; padding: 3px 8px; color: #fff; text-align: center; background-color: #000; border-radius: 4px;}

/* datagrid, treegrid */
.datagrid .tree-icon {background: none; width: 2px;}
.datagrid-footer .tree-icon {background: none; width: 2px;}
.datagrid td .datagrid-cell {text-overflow: inherit;} /* makes the use of text-overflow in cell styler possible */

/* spinnter */
.spinner-bg {height: 100%; text-align: center;}
.spinner-bg .panel-loading {position: absolute; top: 50%; min-height: 16px;}

/* Symfony Debugger */
#sf-resetcontent {padding: 20px 10px 0 10px; width: auto !important; max-width: 970px;} 
#sf-resetcontent h1 {display: none;} 
h2.block_exception.clear_fix {margin: 0}
pre.sf-dump {background-color: white !important; margin: 10px;}
pre.sf-dump .sf-dump-private, pre.sf-dump .sf-dump-public, pre.sf-dump .sf-dump-protected {color: black !important;}

/* DataTables */
.no-initial-load-message-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.no-initial-load-message-overlay-table {
	width:100%;
	height:100%;
}

/* Tile widget */
.exf-tile {padding: 4px;} /* This makes a stand-alone tile have the same padding as .exf-grid-item.exf-tile */
.exf-tile-box { position: relative; background-color: #fafafa; border: 1px solid #c3d9e0; height: 100%; overflow: hidden;}
.exf-tile-box h3, .exf-tile-box p { overflow: hidden; text-overflow: ellipsis;}
.exf-tile-box h3 { white-space: nowrap;}
.exf-tile-box p { max-height: 28px; }
.exf-tile-icon { position: absolute; top: 8px; right: 8px; font-size: 28px; color: rgba(0, 0, 0, 0.15); }

/* slick carousel */
.slick-carousel.horizontal .slick-list {padding: 10px; box-sizing: border-box;}
.slick-carousel.horizontal .slick-list, 
.slick-carousel.horizontal .slick-track, 
.slick-carousel.horizontal .slick-slide, 
.slick-carousel.horizontal .slick-slide img {height: 100%}
.slick-carousel.horizontal .slick-slide {margin-left: 10px}

/* jExcel */
.jexcel {border-top: 0 !important; border-left: 0 !important; width: 100% !important; table-layout: auto !important;}
.jexcel_container {padding-right: 0 !important; overflow-x: auto; width: 100%}
.jexcel_content {width: 100%}
.jexcel_row, .jexcel_selectall {padding-left: 5px !important; padding-right: 5px !important; max-width: 4em}
.jexcel>thead.footer>tr>td {background-color: white; font-weight: bold; border-top: 1px solid #666;}
.jexcel td {overflow: hidden; text-overflow: ellipsis;}
.exf-spreadsheet {overflow: visible;}
.panel:has(.exf-spreadsheet) {overflow: visible;}
.exf-grid-item:has(.exf-spreadsheet) {overflow: visible;}

/* Login, Errors, etc. */
.exf-ajax-error > .exf-loginprompt-wrapper {margin-top: 25%}
.exf-loginprompt-wrapper > .exf-message {margin-left: auto; margin-right: auto}
.exf-loginprompt {margin-left: auto; margin-right: auto}
.exf-loginprompt > .tabs-panels > .panel > .panel-body > .panel > .panel-body {padding: 20px; height: auto !important; width: auto !important;}

/* NavCrumbs */
.exf-navcrumbs a {text-decoration: underline;}

/* Cards */
.exf-card > .panel > .easyui-panel > .panel > .easyui-panel > .easyui-menu.menu {padding: 1px;}


/* Tabs */
.tabs-panels > .panel {width: 100% !important}
.tabs-panels > .panel > .panel-body {width: 100% !important}