<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
	    <meta name="apple-mobile-web-app-capable" content="yes">
	    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	    <meta name="page_id" content="[#~page:alias#]">
	    
	    <!-- Prevents browsers from sending rerferrer-headers for href, img and ajax-requests.
	    This for external media content, where requests may get filtered -->
	    <meta name="referrer" content="no-referrer" />
		
		<title>[#~page:name#]</title>
		        
		<!-- Generated includes -->
		[#~head#]	
		
		<!-- jQuery-Plugin to run in iOS-WebApp window -->
		<script type="text/javascript" src="vendor/exface/JEasyUIFacade/Facades/js/jquery.stayInWebApp.js"></script>
		<script type="text/javascript">
			$(function() {
				$.stayInWebApp();
			});
		</script>
		
		<!-- sparklines -->
		<script type="text/javascript" src="vendor/exface/JEasyUIFacade/Facades/js/jquery.sparkline.min.js"></script>
		
	</head>
	<body class="easyui-layout">
	    <!-- Spinner to hide unrendered markup -->
        <div style="height: 100vh; line-height: 100vh;" class="spinner-bg">
            <i class="panel-loading"></i>
            <span class="sr-only">Loading...</span>
        </div>
        <!-- / Spinner to hide unrendered markup -->
		<!-- HEADER -->
		<div data-options="region:'north',border:false" style="height:50px; padding:10px; overflow: hidden;">
			<div class="logo">
				<a href="[#~url:~home#]">[#~config:exface.Core:SERVER.TITLE_HTML#]</a>
			</div>
			<div style="float:right;">
				<div id="contextBar" class="top-toolbar">
				    <div class="toolbar-element">
						<div class="panel-loading"></div>
					</div>
				</div>
			</div>
		</div>
		
		<!-- MENU LEFT -->
		<div data-options="region:'west',split:true,title:'[#~translate:exface.JEasyUIFacade:TEMPLATE.NAVIGATION#]'" style="width:200px;">
			<div class="easyui-accordion" data-options="fit:true,border:false">
		        <!-- <div title="Favoriten" data-options="" style="overflow:auto;">
		            <ul class="nav_menu">
		        		<li><a href="#">Artikel-Info</a></li>
		        		<li><a href="#">Wareneingang</a></li>
	        		</ul>
		        </div>-->
		        <div title="[#~translate:exface.JEasyUIFacade:TEMPLATE.MENU#]" data-options="selected:true" style="">
		        	[#~widget:NavMenu#]      
		        </div>
		        <!-- <div title="Verlauf" data-options="" style="">
		                     
		        </div> -->
	        </div>
		</div>
		
		<!-- MAIN -->
		<div data-options="region:'center',title:'[#breadcrumbs#]'">
			[#~body#]
		</div>
	</body>
</html>