body {font-family: Helvetica,Arial,sans-serif;}
ul.nav_menu {list-style: none; font-size: 12px; list-style-position: inside; margin:0; padding: 0;}
ul.nav_menu li {border-bottom: 1px solid #ccc;}
ul.nav_menu li ul {list-style: none; list-style-position: inside; padding: 0 0 5px 20px;}
ul.nav_menu li ul li {border: none;}
ul.nav_menu a {padding: 6px 0 6px 10px; color: black; text-decoration: none; display: block; width: 100%;}
ul.nav_menu li.active a.active {color: white; font-weight: bold; text-decoration: none; display: block; width: 100%; background: #6CAEF5}
ul.nav_menu a:hover {color: white; font-weight: bold; text-decoration: none; display: block; width: 100%; background: #6CAEF5}

/* Font awsome */
.fa {padding: 1px;}
.l-btn-plain .fa {padding: 2px;}
.menu-icon.fa {font-size: 12px; padding: 2px;}
.pagination .fa {font-size: 16px; padding: 0;}
.dialog-button .fa, .dialog-button .l-button-plain.fa {font-size: 12px; padding: 2px;}
.panel-tool-a.fa {font-size: 14px; padding: 1px 0 1px 3px; text-decoration: none; color: black;}
.panel-icon.fa {padding: 0;}

/* Context bar */
.toolbar-element {height: 30px; display:inline-block; line-height: 30px; vertical-align: top; }
.toolbar-element.user-info {padding: 0 10px; border-right: 1px solid #c3d9e0; border-left: 1px solid #c3d9e0;}
.toolbar-element.user-info .user-display {vertical-align: top; display: inline-block; padding: 1px 0 0 0}
.toolbar-element.user-info .user-image {padding-right: 7px;}
.toolbar-element .panel-loading {height: 10px}
.toolbar-element .fa {font-size: 14px; padding: 0; color: #999}

/* Toolbars for widgets */
.exf-toolbar {padding: 5px 2px; min-height: 26px;}
.exf-btn-group {display: inline-block}
.exf-data-toolbar, .panel-footer.datatable-toolbar {border-width: 0;}
.exf-data-header {padding: 0; border-width: 0}
.exf-data-header .tabs-container, .exf-data-header .panel-body {background: #f5f5f5}
.exf-data-header .tabs-panels .panel-body {padding-right: 5px;}
.exf-data-header .tabs-header-right .tabs {border: 0}
.dialog-button .exf-toolbar {padding: 0;}

/* Inputs */
.exf-labeled-item {width:calc(100% - 167px); display: inline-block; height: 100%; vertical-align: middle;}
.exf-input {box-sizing: border-box; padding:4px; text-align:right;}
.exf-input label {margin: 0 3px; display: inline-block; max-width: 157px; white-space: nowrap; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
.exf-input textarea {vertical-align:middle;border: 1px solid #c3d9e0; tab-size: 4}
.numberbox input {text-align: right;}
fieldset.exface_inputgroup {border-color: #95B8E7; border-width: 1px 0 0 0; padding: 10px 0; margin: 15px 0 0 0;}
fieldset.exface_inputgroup legend {color: #404040; font-weight: bold; padding: 0 6px; margin: 0 10px;}

/* Widget groups */
.exf-widget-group > .panel > .panel-header {background-color: transparent; padding-top: 6px; margin-bottom: 4px;}

/* Text & headings */
.panel-body h1, .panel-body h2, .panel-body h3, .panel-body h4, .panel-body h5, .panel-body p, .panel-body pre {padding: 0 10px;}
.panel-body h1 {margin: 10px 0 5px 0}
.exf-text {display: block}

/* Context menus */
.easyui-menu .menu-item {float: none !important;}

/* jEasyUI customizing */
div.panel-body{background-color:#fff;}
div.messager-body{overflow-y: auto;}
.window .window-header .panel-with-icon {padding-left: 21px !important;}
.dialog-button {min-height: 26px; text-align: left !important}

/* TextDiff widget */
.difftext-container {border: 1px solid #c3d9e0;}
.difftext-diff del {text-decoration: line-through; color: white; background-color: red;}
.difftext-diff ins {text-decoration: none; color: white; background-color: green;}

/* InputJson widget */
.jsoneditor {text-align: left;}
.exf-control .jsoneditor div.outer {margin: 0;}

/* Markdown */
.markdown-body {font-size: 14px !important;}
.easyui-dialog > .markdown-body {padding: 20px 10px 10px 10px}

/* jQuery FileUpload */
.fileupload-files{margin-top: 10px;}
.fileupload-inner{line-height: 110px; vertical-align: middle;}
.fileupload-inner > * {line-height: normal; display: inline-block; padding: 5px; }
.fileupload-preview {vertical-align: top; width: 110px;}
.fileupload-desc {font-weight: bold}
.fileupload-filename {color: grey}

/* flot charts */
.tooltip-inner { max-width: 200px; padding: 3px 8px; color: #fff; text-align: center; background-color: #000; border-radius: 4px;}

/* datagrid, treegrid */
.datagrid .tree-icon {background: none; width: 2px;}
.datagrid-footer .tree-icon {background: none; width: 2px;}
.datagrid td .datagrid-cell {text-overflow: inherit;} /* makes the use of text-overflow in cell styler possible */

/* Symfony Debugger */
#sf-resetcontent {padding: 20px 10px 0 10px; width: auto !important; max-width: 970px;} 
#sf-resetcontent h1 {display: none;} 
h2.block_exception.clear_fix {margin: 0}
pre.sf-dump {background-color: white !important; margin: 10px;}
pre.sf-dump .sf-dump-private, pre.sf-dump .sf-dump-public, pre.sf-dump .sf-dump-protected {color: black !important;}

/* DataTables */
.no-initial-load-message-overlay {
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
}
.no-initial-load-message-overlay-table {
	width:100%;
	height:100%;
}

/* Tile widget */
.exf-tile-box {
	position: relative;
	background-color: #fafafa;
	border: 1px solid #c3d9e0;
	height: 100%;
	overflow: hidden;
}
.exf-tile-box h3, .exf-tile-box p {
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.exf-tile-icon {
	position: absolute;
	top: 8px;
	right: 8px;
	font-size: 28px;
	color: rgba(0, 0, 0, 0.15);
}
.exf-tile-footer {
	background: rgba(0, 0, 0, 0.15);
	text-align: center;
	color: rgba(64, 64, 64, 0.8);
	text-decoration: none;
	width: 100%;
	padding: 3px 0;
	position: absolute;
	bottom: 0px;
}
